@font-face {
  font-family: "iconfont";
  /* Project id 3576888 */
  src: url('../iconfont/iconfont.woff2?t=1660030990586') format('woff2'),
    url('../iconfont/iconfont.woff?t=1660030990586') format('woff'),
    url('../iconfont/iconfont.ttf?t=1660030990586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jia:before {
  content: "\e600";
}
.icon-kefu1:before {
  content: "\e645";
}

.icon-back-top1:before {
  content: "\e780";
}

.icon-gouwuche1:before {
  content: "\e60f";
}
.icon-xiashuangjiantou:before {
  content: "\e646";
}

.icon-shangshuangjiantou:before {
  content: "\e648";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-qizhi:before {
  content: "\e607";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-youjiantou:before {
  content: "\e641";
}

.icon-zuojiantou:before {
  content: "\e642";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-shangjiantou:before {
  content: "\e733";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-caidan:before {
  content: "\e62a";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-ditu_dingwei:before {
  content: "\eb33";
}

.icon-double-circle:before {
  content: "\ea6c";
}

.icon-shuangjiantou:before {
  content: "\e624";
}

.icon-remenhuodong:before {
  content: "\e606";
}

.icon-drxx51:before {
  content: "\e706";
}

.icon-youjiantou_huaban:before {
  content: "\e63c";
}

.icon-fangdajing2:before {
  content: "\e633";
}
